[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nose = "*"
sphinx = "*"
sphinxcontrib-napoleon = "*"
coverage = "*"

[packages]

[requires]
python_version = "2.7"
